
<div class="container">
<div class="row">
<div class="col-xs-12 col-md-push-1">
<% if (@profile.user == current_user ) %>
<%= link_to "Edit profile", edit_user_profile_path(@user.id), {class: 'btn btn-info margin-left'} %>
<% end %>
</div>
</div>

<br>

    <div class="col-md-1"> </div>

    <div class="col xs-12 col-md-10">
    <div class="card card-horizontal main_profile">
        <div class="row profile_top">
            <div class="col-md-3 col-sm-4 col-xs-4">
                <div class="max-150-width no-overflow">
                    <!-- <img src="assets/img/ben.png" alt="..."/> -->
                    
                    <%= image_tag @profile.avatar.url(:medium), {class: 'img-responsive min-150'}  if @profile.avatar.url %>                                
                  
                </div>
            </div>
            <div class="col-md-8">
                 <div class="content">
                   <p class="category text-info">
                      <%= @profile.cohort %> 
                    </p>

                    <a class="card-link" href="#">
                        <h4 class="title"><%= @profile.first_name %> <%= @profile.last_name %></h4>
                    </a>


                    <% if @profile.user.employers.any? %>
                    <a class="card-link" href="#">
                  <p class="description"><%= @profile.user.employers.last.role %> @ <span><%= @profile.user.employers.last.company_name %></span></p>
                <% else %>
                  <p class="description">No employment history</p>
                <% end %>

                     <div class="footer">
                        <div class="stats">
                            <a class="card-link" href="#">
                               <i class="fa fa-male"></i> Github
                            </a>
                        </div>

                        <div class="stats">
                            <a class="card-link" href="#">
                               <i class="fa fa-male"></i> Portfolio
                            </a>
                        </div>
                  
                        <div class="stats">
                          <a class="card-link" href="#">
                            <i class="fa fa-comments"></i> Linkedin
                          </a>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="row">
          <div class="col-xs-1"> </div>
          <div class="col-xs-10 languages">
            <h4>My Languages</h4>
            <p>Ruby, JavaScript etc.</p>
          </div>
          <div class="col-xs-1"> </div>
        </div>

        <div class="row">
          <div class="col-xs-1"> </div>
          <div class="col-xs-10 personal_statement">

          <div class="row">
            <div class="col-xs-6"><h4>About Me</h4></div>
            <div class="col-xs-6"><h4 class="profile_location"><%= @profile.city %>, <%= @profile.country %></h4></div>
          </div>
            <p><%= @profile.personal_statement %></p>
          </div>
          <div class="col-xs-1"> </div>
        </div>


    </div> <!-- end card -->


  </div> <!-- col-6-md -->

   <div class="col-md-1"> </div>

</div> <!-- container -->

